/* roboto till h, fira sans till p */

:root {
    --green: #3DE07E;
}

body {
    margin: auto;
    top: 0;
    left: 0;
    background-color: black;
}

header {
    background-color: var(--green);
    font-family: "Roboto", sans-serif;
    text-align: center;
    position: relative;
    /* height: vh; */
    /* gap: 0px;
    opacity: 0px; */
    width: 100%;
}
header h1 {
    margin-top: 0;

    /* will be replaced with the burger menu */
    padding-top: 50px;
}

header img {
  margin-bottom: -4px;
}

h2,
p {
    font-family: "Fira Sans", sans-serif;
}

.parent-container {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    margin: 50px;

}


.three-column-container {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;


}

.three-column-container .card {
    /* background-color: blue; */
    color: white;

}

.two-column-container {
    /* background-color: green; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

}

.two-column-container .card {
    /* background-color: green; */
    background-color: white;
}

.card-content {
 
    padding: 20px;
}



.card img {
    width: 100%;
}

.card button {
    background-color: #E83F57;
    color: white;
    border: none;
    padding: 10px;
    margin: 4px 2px;
    border-radius: 8px;
}

footer {
    background-color: yellowgreen;
}